.color-white{
    color:white;
}

.color-grey{
    color:#848484;
}

.bgcolor-grey{
    background-color:#848484;
}

.bgcolor-darkgrey{
     background-color:#424242;
 }

.color-black{
    color:#000000;
}

.bgcolor-black{
     background-color:#000000;
 }

 .icon-config{
    margin-left:30px;
    margin-right:30px;
 }